<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Adresses</title>
	<div th:insert="~{fragment :: fragment}">
</div>
	<meta http-equiv="Content-Type" content="text/html ;charset =UTF-8"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></head>
<body style="width: 80%; margin: auto;">
	<h1>Les differentes adresses </h1>
	<ul th:each =" address: ${allAddresses}">
		<li th:text ="${ address.content }"/>
		<li th:text ="${ address.auteur }"/>
	</ul >
</body>
</html>
