<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Formulaire addresse</title>
	<meta http-equiv="Content-Type" content="text/html ;charset =UTF-8"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body >

<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">W&D</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="addresses">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="adresse">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="meteo">Météo</a>
      </li>
    </ul>
  </div>
</nav>
</div>
<div class="bs-example">
    <form action="/meteo" method="post">
        <div class="form-group row">
            <label for="text" class="col-sm-2 col-form-label">Entrer votre adresse</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="text" placeholder="votre adresse" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn bg-primary">envoyer</button>
            </div>
        </div>
    </form>

</body>
</html>